* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cards {
    width: 85%;
    margin: 0 auto;
}

.card_item {
    box-sizing: border-box;
    margin: auto;
    width: 250px;
}

.slick-list {
    height: auto !important;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-prev::before,
.slick-next:before {
    color: black;
    font-size: 20px;
}