* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cards {
    width: 85%;
    margin: 0 auto;
}

.card_item {
    box-sizing: border-box;
    margin: auto;
    width: 250px;
}

.slick-list {
    height: auto !important;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-prev::before,
.slick-next:before {
    color: black;
    font-size: 20px;
}

.img__position {
    position: absolute;
    bottom: 0;
    left: 310px;
    z-index: -100;
}

.video__position {
    position: absolute;
    right: -20px;
    bottom: -30px;
    z-index: -100;
}


/* pattern model */

.pattern_model {
    background-color: aliceblue;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    z-index: 1;
    width: 160px;
    display: none;
    transition: all 0.9;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: orangered;
}

.nav_item_page:hover .pattern_model {
    display: block;
    transition: all 0.9;
}

.nav_item_page:hover {
    color: orangered;
}

.item_model {
    font-size: 15px;
    margin-bottom: 3px;
    color: black;
}

.item_model:hover {
    color: orangered;
}